* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $tPrimary;
  font-size: $default;
  font-family: "Poppins", sans-serif;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: $gray-1;
  }
  &::-webkit-scrollbar-track {
    background: $white-1;
  }
}

body {
  scroll-behavior: smooth;
}

input,
button {
  outline: none;
}

img {
  width: $w-100;
  height: $h-100;
}
